.body{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: #B1D690;
}
.card {
  background-color: #B1D690; 
  border-radius: 35px;
  padding: 30px; 
  text-align: center; 
  color: white; 
  max-width: 1200px;
  margin: 20px auto; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-shadow: 3px 3px 5px rgba(87, 118, 85, 0.827);
}
.card h1 {
  font-size: 50px; 
  margin-bottom: 5px;
}
.card p {
  font-size: 20px; 
  margin: 0;
}
.text-box{
  color: black;
}
.text-box h2{
  font-size: 38px;
}
.text-box img{
  max-width: 500px;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
}
.text-box p {
  font-size: 16px;
  margin-top: 15px;
}
.text-one img{
  max-width: 500px;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
  height: 45vh;
  margin-top: 15px;
}
.text-one h5{
  margin-top: 5px;
  font-size: 18px;
}
.text-one p{
  font-size: 16px;
}
.text-one h2{
  font-size: 38px;
}
.text-one1 img{
  max-width: 500px;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
  height: 47vh;
  margin-top: 15px;
}
.text-two{
  max-width: 500px;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
  height: 47vh;
  margin-top: 15px;
} 