/* General Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f9fc;
    color: #333;
  }
  
  h1, h2 {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .text-success {
    color: #16a085 !important;
  }
  
  .img-fluid {
    height: 200px;
    object-fit: cover;
    border-radius: 0;
  }
  
  .plant-class-card {
    text-decoration: none;
    color: inherit;
  }
  
  .plant-class-card:hover {
    text-decoration: none;
  }

  .btn {
    margin-top: 10px;
  }
  